mat-toolbar {
    min-height: 64px;
}
.art-header-svg-container {
    height: 32px;
    width: 32px;
    display: flex;
}
.art-header-item {
    font-size: 14px;
    padding: 0 2px;
    margin-left: 8px;
    margin-top: 6px;
    line-height: 26px;
}
.art-header-item:hover {
    background-color: rgba(255, 241, 250, 0.24);
    cursor: pointer;
}
