<mat-toolbar color="primary">
    <ul fxLayout="row wrap" fxLayoutAlign="center center">
        <li class="art-header-item" fxLayout="column" fxLayoutAlign="center center">
            <div class="art-header-svg-container">
                <mat-icon svgIcon="alipay-circle-fill" fxFlex="" inline="true"></mat-icon>
            </div>
            <span>数据目录</span>
        </li>
        <li class="art-header-item" fxLayout="column" fxLayoutAlign="center center">
            <div class="art-header-svg-container">
                <mat-icon svgIcon="alipay-circle-fill" fxFlex="" inline="true"></mat-icon>
            </div>
            <span>数据目录</span>
        </li>
        <li class="art-header-item" fxLayout="column" fxLayoutAlign="center center">
            <div class="art-header-svg-container">
                <mat-icon svgIcon="alipay-circle-fill" fxFlex="" inline="true"></mat-icon>
            </div>
            <span>数据目录</span>
        </li>
        <li class="art-header-item" fxLayout="column" fxLayoutAlign="center center">
            <div class="art-header-svg-container">
                <mat-icon svgIcon="alipay-circle-fill" fxFlex="" inline="true"></mat-icon>
            </div>
            <span>数据目录</span>
        </li>
    </ul>
    <span fxFlex></span>
    <ul fxLayout="row wrap" fxLayoutAlign="center center">
        <li class="art-header-item" fxLayout="column" fxLayoutAlign="center center">
            <div class="art-header-svg-container">
                <mat-icon svgIcon="alipay-circle-fill" fxFlex="" inline="true"></mat-icon>
            </div>
            <span>数据目录</span>
        </li>
        <li class="art-header-item" fxLayout="column" fxLayoutAlign="center center">
            <div class="art-header-svg-container">
                <mat-icon svgIcon="alipay-circle-fill" fxFlex="" inline="true"></mat-icon>
            </div>
            <span>数据目录</span>
        </li>
        <li class="art-header-item" fxLayout="column" fxLayoutAlign="center center">
            <div class="art-header-svg-container">
                <mat-icon svgIcon="alipay-circle-fill" fxFlex="" inline="true"></mat-icon>
            </div>
            <span>数据目录</span>
        </li>
        <li class="art-header-item" fxLayout="column" fxLayoutAlign="center center">
            <div class="art-header-svg-container">
                <mat-icon svgIcon="alipay-circle-fill" fxFlex="" inline="true"></mat-icon>
            </div>
            <span>数据目录</span>
        </li>
    </ul>
</mat-toolbar>
