<div class="art-container-wrap" [ngClass]="layout">
    <app-header *ngIf="option.headerPos === 'above'"></app-header>
    <mat-sidenav-container class="art-container" autosize="true">
        <mat-sidenav mode="side" opened>
            This is sidenav!
        </mat-sidenav>
        <mat-sidenav-content>
            <app-header *ngIf="option.headerPos === 'fixed'"></app-header>
            <mat-checkbox>lkdsjfkd</mat-checkbox>
            <button mat-raised-button color="accent">Click me!</button>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <app-option></app-option>
</div>

